<!-- simple user registration form -->
<%= form_for :user, url: { action: 'create' } do |u| %> 

	<p>
		<%= u.label :username	%> 			<br />
		<%= u.text_field :username	%>
	</p>
	<p>
		<%= u.label :password	%> 			<br />
		<%= u.password_field :password %>
	</p>
	<p> 
		<%= u.label :email	%> 				<br />
		<%= u.email_field :email	%>
	</p>
	<p>
		<%= u.submit %> 
	
	</p>

<% end %>