<div class="container container-fluid">
    <div class="form">
        <%= form_for :redir, url: {action: 'create'} do |r| %>
        <p class="text-center"> <%= r.label "Put a link below or just click if copied" %> </p>
        <p> <%= r.text_field :from, class: 'form-control', onfocus: "autoPaste(this, event);" %> </p>
        <p> <%= r.submit "Add link", class: 'form-control btn btn-primary' %> </p>
        <% end %>
        
        <h1 class="text-center">___</h1>
        
    </div>
</div>
<!-- @TODO paginate with Ajax  -->
<div class="recent-links">
    <h4>Added recently:</h4>
    <ul>
        <% @all_links.each do |l| %>
        <li> <a href="/<%= l.id.to_s %>"> <%= l.from.to_s %> </a></li>
        <% end %>
    </ul>



<!-- @TODO or display 30 links per page in 3 columns - on moblie cols align vertically  -->
    
</div>
<div class="text-center">
    Pages: <%= will_paginate @all_links, class: 'text-center' %>
</p>