<h1>Users#new - Registration Page</h1>

<p>
	<h3>Welcome to the most lit blog on Aliens. Register if you wish to be probed.</h3>
</p>

<div class="errors">
	<% if flash[:register_errors] %>
	Please correct following:
	<ul>
		<% flash[:register_errors].each do |e| %>
			<li> <%= e %> </li>
		<% end %>
	</ul>
	<% end %>
</div>

<%= form_for :user, url: { action: 'create' } do |u| %>
	<p>
		<%= u.label :email %> <br>
		<%= u.email_field :email, :autofocus => true, placeholder: 'This is optional for now' %>
	</p>
	<p>
		<%= u.label :username %> <br>
		<%= u.text_field :username, placeholder: 'Used for authentication' %>
	</p>
	<p>
		<%= u.label :password %> <br>
		<%= u.password_field :password, placeholder: 'Choose a password' %>
	</p>
	<p>
		<%= u.label :password_confirmation %> <br>
		<%= u.password_field :password_confirmation, placeholder: 'Retype the password' %>
	</p>

	<p>
		<%= u.submit 'Register' %>
	</p>


<% end %>
