<h1>Pages#index</h1>
<div>
	<%= @numero %>
	<br/>

<p>Difference between standard ruby code and erb rendering</p>
<p>perfectly valid ruby code:</p>
<p>
	<%=
	3.times do |event|
		puts event # that actually goes to server console
	end	
	%> 
</p>

<p>Also valid code, but each line is %%tified</p>

	<% @array.each do |event| %>
	<%=  event %>  <br />
	<% end %>

	#ctrl only needed when redir to another one
	<%= link_to("hello us on the microwave cosmic background", {:controller => 'pages', :action => 'hello'})  %>
	<br />  #will use current ctrl 
	<%= link_to("greet us on the microwave cosmic background", {:action => 'hello'}) %>
	<br />  #with params
	<%= link_to("meet us in params[]", {:action => 'hello', :page => 4, :id => 20}) %>
	<br />  #

</div>
